body{
font-family: 'Montserrat', sans-serif;
margin: 0;
color: #fff;
background-color: black;
overflow: hidden;

}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color:black;
    width: 340px;
    border-radius: 1rem; /*16px*/
}
.main_content{
    background-color:#121212;
    flex: 1;
    border-radius: 1rem; /*16px*/
    overflow: scroll;
    padding: 0 1.5rem 0 1.5rem;
}
.music_player{
    background-color:black;
    position: fixed;
    bottom: 0px;
    height: 72px;
    width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color:#121212; ;
    height: 100px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem  0.75rem;
    margin: .5rem;
}
.nav_op{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem  0.75rem;
}
.nav_op:hover{
    opacity: 1;
}
.nav_op i{
    font-size: 1.25rem;
}
.nav_op a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    margin: .5rem;
    height: 100%; 
    padding: 0.5rem  0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib_op img{
    height: 1.25rem;
    width: 1.25rem;
} 
.icons{
    font-size: 1.25rem;
    opacity: 0.7;
    margin-right: 1rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1 ;
}
.box{
    height: 9rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0 ;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500 ;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9 ;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top:0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky_nav
{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 10;
}
.sticky_nav_icons {
   margin-left: 0.75rem; 
}
.sticky_nav_op{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 1rem;

}
@media(max-width:1000px){
     .hide{
        display: none;
     }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.7rem;
    margin-top: 1rem;
}
.cards_con{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card_ti{
    font-weight: 600;
}
.card_in{
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
   width: 90%;
   height: 50%;
   border-top: 1px solid white;
   opacity: 0.4;
}

.music_player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
    align-items: center;
}
.albu-1 img{
    height: 3.3rem; 
    width: 3.3rem; 
    margin: 0.7rem;
    margin-left: -10px;
    
    border-radius: 4px;

}
.albu-1{
    display: flex;
}
.alb-12{
    margin: 0.7rem;
    margin-top: -.5px;
  
}
.albu-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    height:1rem ;
}
.albu-1 i{
    height:1rem ;
}
.player{
    width: 50%;
}
.control{
    width: 25%;
}
.player_con_icon
{ 
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;

}
.player_con_icon2
{ 
    height: 1rem;
    margin-right: 1rem;
    /* opacity: 0.7; */

}

.player_con_icon:hover{
    opacity: 1;
}
.player_cont{
    display: flex;
    justify-content: center;
    align-items: center;  
}
 .player_bar{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .progress{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
 }
 .progress::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
 }

 .progress::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 100%;
    margin-top: -6px;
 }
 #pro::-webkit-slider-thumb{
  display: none;
 }
 #pro{
    height:1rem;
 }